<p id="notice"><%= notice %></p>

<br><h1 >Edit Property</h1><br>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @add_properties.each do |add_property| %>
      <tr>
        <td><%= add_property.address + " " + add_property.apartment %></td>
      </tr>
      <tr>
        <td><%= add_property.city + ", " + add_property.state + " "  + add_property.zipcode %></td>
      </tr>
      <tr>
        <td><b>Number of Rooms: </b><%= add_property.rooms %></td>
      </tr>
      <tr>
        <td><b>Number of Bathrooms: </b><%= add_property.bathrooms %></td>
      </tr>
      <tr>
    <td><%= link_to 'Additional Details', add_property %></td>
        <td><%= link_to 'Edit', edit_add_property_path(add_property) %></td>
        <td><%= link_to 'Delete', add_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Search', root_path %>
<%= link_to 'Add Property', new_add_property_path %>
