<p id="notice"><%= notice %></p>

<h2>Property Details</h2>
<h4>Address:</h4>
<p>
  <%= @add_property.address + " " + @add_property.apartment %>
</p>

<p>
  <%= @add_property.city + ", " + @add_property.state + " " + @add_property.zipcode %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @add_property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @add_property.bathrooms %>
</p>

<%= link_to 'Back', add_properties_path %> |
<%= link_to 'Edit', edit_add_property_path(@add_property) %>

