<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2>Oh no! There are <%= pluralize(@property.errors.count, "error") %>! Please resolve and try again:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address, "Address:" %><br>
    <%= f.text_field :address %>
    <%=" (required)" %>
  </div>
  <div class="field">
    <%= f.label :apartment, "Apt/Unit/Suite" %><br>
    <%= f.text_field :apartment %>
  </div>
  <div class="field">
    <%= f.label :city, "City:" %><br>
    <%= f.text_field :city %>
    <%=" (required)" %>
  </div>
  <div class="field">
    <%= f.label :state, "State:" %><br>
    <%= f.text_field :state %>
    <%=" (required)" %>
  </div>
  <div class="field">
    <%= f.label :zipcode, "Zipcode:" %><br>
    <%= f.text_field :zipcode %>
    <%=" (required)" %>
  </div>
  <div class="field">
    <%= f.label :rooms, "Number of Bedrooms:" %><br>
    <%= f.number_field :rooms %>
  </div>
  <div class="field">
    <%= f.label :bathrooms, "Number of Bathrooms:" %><br>
    <%= f.number_field :bathrooms %>
  </div>
  <div class="actions">
    <% if @property.id.nil? %>
      <%= f.submit "Add Property" %>
    <% else %>
      <%= f.submit "Update Property"%>
    <% end %>
  </div>
<% end %>
