<p id="notice"><%= notice %></p>

<p><strong>Properties</strong></p>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.address + " " + property.apartment %></td>
      </tr>
      <tr>
        <td><%= property.city + ", " + property.state + " "  + property.zipcode %></td>
      </tr>
      <tr>
        <td><b>Number of Bedrooms: </b><%= property.rooms %></td>
      </tr>
      <tr>
        <td><b>Number of Bathrooms: </b><%= property.bathrooms %></td>
      </tr>
      <tr>
        <td><%= link_to 'More Details', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'Home', root_path %></strong>  |
<strong><%= link_to 'Add New Property', new_property_path %></strong>
