<p id="notice"><%= notice %></p>

<h3>Property Details</h3>

<p><strong>Address:</strong><p>
<p>
  <%= @property.address + " " + @property.apartment %>
</p>

<p>
  <%= @property.city + ", " + @property.state + " " + @property.zipcode %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<h2>Reviews</h2>

<% @property.reviews.each do |review| %> 
  <p id = "review">
    <em><%= review.created_at.to_date %><br></em>
    <%= review.review %>
  </p>
  <input type="button" value="Like" onclick="alert('Thumbs Up!')">
  <input type="button" value="Dislike" onclick="alert('Thumbs Down!')">
  <!-- <%= button_to 'Like', helpful_property_path(@property, @property.reviews), method: :put %> -->
<% end %>
  
<h2>Add a review:</h2>
  <% if current_user %>
      <%= form_for([@property, @property.reviews.build]) do |f| %>
  <div>Rating: <%= rating_for @property, "property_rating" %></div>
    <p>
      <%= f.label :review %><br>
      <%= f.text_area :review %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <% end %>
  <% else %>
    <p><strong>Please sign in to review this property!</strong></p>
<% end %>



<strong><%= link_to 'Home', root_path %></strong> |
<strong><%= link_to 'Edit', edit_property_path(@property) %></strong> |
<strong><%= link_to 'Add New Property', new_property_path %></strong>

