<%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<strong><%= flash[:notice] %></strong>
<br><br>
<table>
  <tr style="text-align: left">
    <th>Address: </th>
    <th>Apt: </th>
    <th>City: </th>
    <th>State: </th>
    <th>Zipcode: </th>
    <th>Bedrooms: </th>
    <th>Bathrooms: </th>
    <th>Rating: </th>
    <th>Reviews: </th>
  </tr>
  <% for property in @properties %>
    <tr>
      <td><%= property.address %></td>
      <td><%= property.apartment %></td>
      <td><%= property.city %></td>
      <td><%= property.state %></td>
      <td><%= property.zipcode %></td>
      <td><%= property.rooms %></td>
      <td><%= property.bathrooms %></td>
      <td>(1-5)</td>
      <td><%= link_to property.reviews.count, property %></td>
    </tr>
  <% end %>
</table><br>
<strong><%= link_to 'Add New Property', new_property_path %></strong>
